<div class='col-xs-10'>
  {{view "select" content=options value=zone.name classNames="c-select form-control"}}
</div>
<div class='col-xs-2'>
  <button class='btn btn-danger' {{action 'delete'}}>
    &times;
  </button>
</div>
