<div class='row '>
  <div class='col-xs-10 form-group'>
  {{view "select" content=options value=zone.name classNames="c-select form-control"}}
  </div>
  <div class='col-xs-2'>
    <button class='btn btn-block btn-danger' {{action 'delete'}}>-</button>
  </div>
</div>
